.page {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  .nut-calendar-card{
    width: 100%;
    height: auto;
    min-height: 200px;
  }

  .item-list {
    // 页面样式
    width: 100%;
    display: flex;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    box-sizing: border-box;

    .item-item {
      // 每个活动项样式
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      line-height: 2;
      &.top{
background-color: rgb(121, 121, 15);
color: white;
      }
      text{
        text-align: center;
      }

      text {
        flex: 1
      }

      .item-name {
        // 活动名称样式
        font-weight: 700;
      }

      .item-description {
        // 活动描述样式
      }

      .item-date {
        // 活动日期样式
      }
    }
  }

}
